doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    <script type="text/javascript" src="//ue.17173cdn.com/a/lib/jquery-1.11.1.min.js"></script> 
    block scriptHeader
  body
    block content
